/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #0f172a;
    color: white;
    font-family: Arial, sans-serif;
    padding: 20px;
  }

  .botao-resumo {
    padding: 10px 20px;
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s;
  }
  
  .botao-resumo:hover {
    background-color: #1d4ed8;
  }
  
  
  /* Cabeçalho da página */
  .cabecalho {
    text-align: center;
    margin-bottom: 30px;
  }
  
  /* Grid da galeria */
  .galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
  
  /* Estilo dos itens da galeria */
  .item-galeria {
    background-color: #1e293b;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
  }
  
  .item-galeria img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: transform 0.4s ease, box-shadow 0.4s ease, filter 0.4s ease;
    cursor: pointer;
  }

  
.item-galeria img:hover {
    transform: scale(1.08) rotate(2deg);
    box-shadow: 0 0 15px 5px rgba(37, 99, 235, 0.7);
    filter: brightness(1.1) saturate(1.2);
    z-index: 10; /* para garantir que fique acima */
  }
  
  .item-galeria p {
    font-size: 16px;
  }

  

  .conteudo-pagina {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
    background-color: #1e293b;
    border-radius: 10px;
    
  }

  .conteudo-pagina img {
    width: 50%;     /* largura fixa */
    height: 40%;    /* altura fixa */
    object-fit: cover; /* para cortar ou ajustar imagem mantendo proporção */
    border-radius: 10px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto; /* centraliza a imagem */
    transition: transform 0.4s ease, box-shadow 0.4s ease, filter 0.4s ease;
    cursor: pointer;
  }


.conteudo-pagina img:hover {
    transform: scale(1.08) rotate(2deg);
    box-shadow: 0 0 15px 5px rgba(37, 99, 235, 0.7);
    filter: brightness(1.1) saturate(1.2);
    position: relative;
    z-index: 10;
  }
  
  
  .conteudo-pagina h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #60a5fa;
  }
  
  .conteudo-pagina p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
  }
  
  